@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html, body {
  @apply bg-neutral-950 text-neutral-50
}

html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  /* background-color: #397524; */
  @apply bg-blue-600
}

*::-webkit-scrollbar-thumb:hover {
  /* background-color: #62A34B; */
  @apply bg-blue-800
}

*::-webkit-scrollbar-thumb:active {
  /* background-color: #62A34B; */
  @apply bg-blue-800
}
